/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/* ----- Variables ----- */
:root {
  /* Colores */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /* Tipografia */
  --font-family-primary: 'Open Sans', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif; 
  --font-size-body: 16px;
  --font-size-subheading: 24px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  color: var(--very-dark-blue);
}