/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/* ----- Variables ----- */
:root {
  /* Colores */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /* Toast Colors */
  --toast-success: hsla(156, 59%, 93%);
  --toast-error: hsla(2, 100%, 95%);
  --toast-warning: hsla(33, 100%, 94%);

  /* Border Toast Colors */
  --color-success: hsl(161, 70%, 39%);
  --color-warning: hsl(36, 69%, 47%);
  --color-error: hsl(0, 100%, 67%);

  /* Tipografia */
  --font-family-primary: 'Raleway', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;
  --font-size-body: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--very-dark-blue);
}

/* Styles Title */
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
}

/* General Styles */

.main__fylo_title {
  width: 90%;
  margin: 0;
  line-height: 1.3;
  font-size: 2.3rem;
  font-weight: var(--font-weight-bold);
}

.main__fylo_text {
  width: 85%;
  margin: 1rem 0;
  letter-spacing: .3px;
  line-height: 1.5;
  color: var(--very-dark-blue);
}

.section__common {
  display: flex;
  height: 450px;
  padding-left: 5rem;
}

/* Header Style */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 2rem 5rem;
}

.header__container .header__logo {
  height: 45px;
  width: 150px;
}

.header__container .header__logo img {
  height: 100%;
  width: 100%;
}

.header__container .header__nav ul {
  display: flex;
  gap: 2rem;
}

.header__container .header__nav ul li {
  list-style: none;
  font-weight: var(--font-weight-regular);
}

.header__container .header__nav ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--very-dark-blue);
  border: 1px solid transparent;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.header__container .header__nav ul li a:hover {
  color: var(--bright-blue);
  border: 1px solid var(--bright-blue);
  background-color: var(--light-grayish-blue);
}

/* Main Style */

.main__container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

/* Section - Fylo-Description */
.main__container .main__fylo_description .main__fylo_description_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
}

.main__container .main__fylo_description .main__fylo_description_text .main__get_started {
  display: flex;
  gap: 1rem;
}

.main__container .main__fylo_description .main__fylo_description_text .main__get_started .inpt_email {
  width: 46%;
  padding: .7rem 1.3rem;
  border: 1px solid var(--desaturated-blue);
  border-radius: 5px;
  outline: none;
}

.main__container .main__fylo_description .main__fylo_description_text .main__get_started .inpt_email::placeholder {
  color: var(--light-gray);
}

.main__container .main__fylo_description .main__fylo_description_text .main__get_started .btn_get_started {
  padding: .7rem 3rem;
  color: var(--light-grayish-blue);
  border: none;
  border-radius: 5px;
  background-color: var(--bright-blue);
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main__container .main__fylo_description .main__fylo_description_text .main__get_started .btn_get_started:hover {
  background-color: var(--moderate-cyan);
}

.main__container .main__fylo_description .main__fylo_description_image {
  width: 52%;
  height: 100%;
  text-align: start;
}

.main__container .main__fylo_description .main__fylo_description_image img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* Section Fylo-Security */
.main__container .main__fylo_security {
  margin-top: 10rem;
  padding-top: 10rem;
  padding-bottom: 6rem;
  height: 750px;
  background: url('../images/bg-curve-desktop.svg') no-repeat center / cover;
  background-size: 300% 100%;
}

.main__container .main__fylo_security .main__fylo_security_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52%;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_title {
  width: 95%;
  font-size: 2.5rem;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_text {
  width: 75%;
  letter-spacing: 0px;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_works {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: 25px;
  text-decoration: none;
  color: var(--moderate-cyan);
  border-bottom: 2px solid var(--moderate-cyan);
  transition: transform 0.3s ease;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_works:hover {
  transform: scale(1.05);
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_works img {
  margin-top: 4px;
  width: 15px;
  height: 15px;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial {
  width: 50%;
  margin-top: 2rem;
  padding: 1.5rem 1.8rem;
  border-radius: 5px;
  background: color-mix(in srgb, var(--light-grayish-blue) 10%, white 90%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial > img {
  margin-bottom: 5px;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author .main__fylo_testimonial_author_info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author .main__fylo_testimonial_author_info .main__fylo_testimonial_author_name {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
}

.main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author .main__fylo_testimonial_author_info .main__fylo_testimonial_info {
  font-size: 12px;
  color: var(--desaturated-blue);
}

.main__container .main__fylo_security .main__fylo_security_image {
  display: grid;
  place-items: center;
  width: 48%;
  height: 100%;
}

.main__container .main__fylo_security .main__fylo_security_image img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

/* Section - Fylo-Access */
.main__container .main__early_access {
  padding-top: 5rem;
  padding-right: 8rem;
  height: 260px;
  background: var(--desaturated-blue);
  color: var(--light-grayish-blue);
}

.main__container .main__early_access .main__early_access_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.main__container .main__early_access .main__early_access_text .main__early_title {
  font-size: 2rem;
}

.main__container .main__early_access .main__early_access_text .main__early_text {
  width: 80%;
  line-height: 1.5;
}

.main__container .main__early_access .main__early_access_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  padding-left: 10rem;
}

.main__container .main__early_access .main__early_access_form .inpt_email {
  width: 100%;
  padding: .7rem 1.3rem;
  border: 1px solid var(--desaturated-blue);
  border-radius: 5px;
  outline: none;
}

.main__container .main__early_access .main__early_access_form .inpt_email::placeholder {
  color: var(--light-gray);
}

.main__container .main__early_access .main__early_access_form .btn_get_started {
  align-self: flex-start;
  padding: .6rem 2.5rem;
  color: var(--light-grayish-blue);
  border: none;
  border-radius: 5px;
  background-color: var(--bright-blue);
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main__container .main__early_access .main__early_access_form .btn_get_started:hover {
  background-color: var(--moderate-cyan);
}

/* Footer Style */
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 350px;
  padding: 5rem;
  background-color: var(--very-dark-blue);
  color: var(--light-grayish-blue);
}

/* Estilo generales dentro del footer */
.footer__container a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--light-grayish-blue);
}

/* Estilo específicos dentro del footer */
.footer__container .footer__logo img {
  filter: invert(1) brightness(100);
}

.footer__container .footer__content_info {
  display: flex;
  justify-content: space-between;
}

.footer__container .footer__content_info .footer__contact,
.footer__container .footer__content_info .footer__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__container .footer__content_info .footer__contact a,
.footer__container .footer__content_info .footer__info a {
  height: 25px;
  transition: all 0.3s ease;
}

.footer__container .footer__content_info .footer__contact a:hover,
.footer__container .footer__content_info .footer__info a:hover {
  width: fit-content;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.footer__container .footer__content_info .footer__social {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  width: 250px;
  gap: 1rem;
}

.footer__container .footer__content_info .footer__social a {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer__container .footer__content_info .footer__social a:hover {
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-blue);
}

/* Toast */
#toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem 2rem;
  color: var(--color-success);
  border: solid var(--color-success);
  border-width: 0 0 0 4px;
  border-radius: 5px;
  background-color: var(--toast-success);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
  z-index: 1000;
}

#toast .toast_message i {
  margin-right: 10px;
}

#toast.show {
  transform: translateX(0);
  opacity: 1;
}

#toast.success {
  border-color: var(--color-success);
  background-color: var(--toast-success);
}

#toast.success .toast_message {
  color: var(--color-success);
}

#toast.error {
  border-color: var(--color-error);
  background-color: var(--toast-error);
}

#toast.error .toast_message {
  color: var(--color-error);
}

#toast.warning {
  border-color: var(--color-warning);
  background-color: var(--toast-warning);
}

#toast.warning .toast_message {
  color: var(--color-warning);
}

/* Media Queries */
@media (width < 769px) {
  .header__container {
    height: 100px;
    padding: 2rem;
  }

  .header__container .header__logo {
    height: 25px;
    width: 85px;
  }

  .header__container .header__nav ul {
    display: flex;
    gap: 0;
  }

  .header__container .header__nav ul li a {
    padding: 5px 8px;
    font-size: 16px;
  }

  /* General Styles */


  .main__fylo_title {
    width: 100%;
    font-size: 27px;
    text-align: center;
  }

  .main__fylo_text {
    width: 96%;
    font-size: 14.5px;
    padding-top: 1rem;
    text-align: center;
  }

  .section__common {
    flex-direction: column-reverse;
    height: auto;
    padding: 0 2rem;
  }

  /* Main Style */

  .main__container {
    padding-top: 5rem;
  }

  /* Section - Fylo-Description */
  .main__container .main__fylo_description .main__fylo_description_text {
    align-items: center;
    width: 100%;
    padding-top: 2rem;
  }

  .main__container .main__fylo_description .main__fylo_description_text .main__get_started {
    flex-direction: column;
    gap: 10px;
    width: 95%;
    padding-top: 1rem;
  }

  .main__container .main__fylo_description .main__fylo_description_text .main__get_started .inpt_email {
    width: 100%;
    padding: 1rem 1.3rem;
  }

  .main__container .main__fylo_description .main__fylo_description_text .main__get_started .btn_get_started {
    padding: 1rem 3rem;
  }

  .main__container .main__fylo_description .main__fylo_description_image {
    width: 100%;
    height: 250px;
    text-align: center;
  }

  /* Section Fylo-Security */
  .main__container .main__fylo_security {
    margin-top: 8rem;
    padding-top: 8rem;
    height: auto;
    background: url('../images/bg-curve-mobile.svg') no-repeat center / cover;
    background-size: 600% 100%;
  }

  .main__container .main__fylo_security .main__fylo_security_text {
    padding-top: 6rem;
    width: 100%;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_title {
    width: 100%;
    font-size: 17px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_text {
    width: 95%;
    text-align: start;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_text:nth-child(3) {
    padding: 0;
    margin-top: 5px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_works {
    margin-top: 1rem;
    align-self: center;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial {
    width: 95%;
    align-self: center;
    margin-top: 4rem;
    padding: 2rem 1rem 2rem 2rem;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial>img {
    margin-bottom: 5px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_text {
    width: 100%;
    font-size: 12.6px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author {
    gap: 10px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author .main__fylo_testimonial_author_info .main__fylo_testimonial_author_name {
    letter-spacing: .5px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author .main__fylo_testimonial_author_info .main__fylo_testimonial_info {
    font-size: 10px;
  }

  .main__container .main__fylo_security .main__fylo_security_image {
    width: 100%;
    height: 250px;
  }

  .main__container .main__fylo_security .main__fylo_security_image img {
    height: 100%;
  }

  /* Section - Fylo-Access */
  .main__container .main__early_access {
    flex-direction: column;
    padding-inline: 2rem;
    padding-bottom: 4rem;
    height: auto;
  }

  .main__container .main__early_access .main__early_access_text {
    width: 100%;
  }

  .main__container .main__early_access .main__early_access_text .main__early_title {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
  }

  .main__container .main__early_access .main__early_access_text .main__early_text {
    width: 95%;
    align-self: center;
    text-align: center;
  }

  .main__container .main__early_access .main__early_access_form {
    margin-top: 40px;
    align-self: center;
    width: 80%;
    padding-left: 0;
  }

  .main__container .main__early_access .main__early_access_form .btn_get_started {
    padding: .7rem 3rem;
    width: 100%
  }

  /* Footer Style */
  .footer__container {
    height: auto;
    padding: 4rem 2rem;
  }

  .footer__container .footer__content_info {
    flex-direction: column;
    gap: 2rem;
    margin-top: 20px;
  }

  .footer__container .footer__content_info .footer__info:nth-child(2) {
    padding-top: 30px;
  }

  .footer__container .footer__content_info .footer__social {
    align-self: center;
    justify-content: space-around;
    width: 40%;
    margin-top: 30px;
  }

  /* Toast */
  #toast {
    font-size: 14px;
  }
}

@media (width < 376px) {
  .header__container {
    padding: 2rem;
  }

  .header__container .header__logo {
    height: 20px;
    width: 70px;
  }

  .header__container .header__nav ul li a {
    padding: 5px 5px;
    font-size: 14px;
  }

  /* General Styles */

  .main__fylo_title {
    font-size: 24px;
  }

  .main__fylo_text {
    font-size: 14.5px;
  }

  .section__common {
    padding: 0 2rem;
  }

  /* Main Style */

  .main__container {
    padding-top: 3rem;
  }

  /* Section - Fylo-Description */
  .main__container .main__fylo_description .main__fylo_description_text .main__get_started {
    gap: 10px;
  }

  .main__container .main__fylo_description .main__fylo_description_text .main__get_started .inpt_email {
    padding: .7rem 1rem;
  }

  .main__container .main__fylo_description .main__fylo_description_text .main__get_started .btn_get_started {
    padding: .7rem 2rem;
  }

  /* Section Fylo-Security */
  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_text {
    font-size: 13px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial {
    padding: 1.5rem 1.5rem;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_text {
    font-size: 11px;
  }

  .main__container .main__fylo_security .main__fylo_security_text .main__fylo_testimonial .main__fylo_testimonial_author .main__fylo_testimonial_author_info .main__fylo_testimonial_author_name {
    font-size: 10;
  }

  /* Section - Fylo-Access */
  .main__container .main__early_access .main__early_access_text .main__early_title {
    font-size: 22px;
  }

  .main__container .main__early_access .main__early_access_text .main__early_text {
    font-size: 15px;
  }

  /* Toast */

  #toast {
    font-size: 13px;
  }
}